DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=

N8N_WEBHOOK_BR=
N8N_WEBHOOK_INT=
N8N_WEBHOOK_PA=
N8N_WEBHOOK_MX=

N8N_WEBHOOK_ADS=
N8N_WEBHOOK_SALES=
N8N_WEBHOOK_COSTS=

OER_APP_ID=

FX_REFRESH_TOKEN=